In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Video Games Sales.csv')

In [5]:
data.head(5)

,index,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

In [6]:
data.isnull().sum()

index             0
Rank              0
Game Title        0
Platform          0
Year             29
Genre             0
Publisher         2
North America     0
Europe            0
Japan             0
Rest of World     0
Global            0
Review            0
dtype: int64

# lets fill the  missing values acording to the d type

In [7]:
import pandas as pd

# Load the DataFrame
df = data

# Find missing values
missing_values = df.isnull().sum()

# Iterate through each column in the DataFrame
for column in df.columns:
    # If the column has missing values
    if missing_values[column] > 0:
        # Determine the data type of the column
        column_type = df[column].dtype
        # Fill missing values based on the data type
        if column_type == int:
            df[column] = df[column].fillna(df[column].mean())
        elif column_type == float:
            df[column] = df[column].fillna(df[column].mean())
        elif column_type == object:
            df[column] = df[column].fillna(df[column].mode())


# "I will continue this notebook at a later time."